.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 16px; /* Increased text to enable scrolling */
  transition: margin-right .5s;
  padding: 16px;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  background-color: #f1f1f1;
}

.sidebarright {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color:cadetblue;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebarright a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebarright a:hover {
  color: #f1f1f1;
}

.sidebarright .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-right: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

.fa-star-o{
  color: #ccc;
}

.step{
  color: tomato;
  font-size: 16px;
  padding-top: 30px;
}
.dot {
  height: 20px;
  width: 20px;
  padding: 10px;
  background-color:white;
  border-radius: 50%;
  border-color: #111;
  display: inline-block;
}

.fa-star-o.active{
  color: deeppink;
}

.dot.active{
  background-color: black;
}

